server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: car-service
          uri: lb://car-service
          predicates:
            - Path=/cars/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
